header h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 64px;
    text-align: center;
}

header h2 {
    font-family: 'Numans', sans-serif;
    font-size: 36px;
    color: #FEC200;
    text-align: center;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 84px;
}

main nav {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #353535;
    text-align: center;
    text-decoration: none;
    padding: 13px;
}

main nav ul li {
    list-style-type: none;
    display : inline-block;
    font-size: 13px;
    margin-left: 60px;
    margin-right: 60px;
}

main nav ul li a {
    text-decoration: none;
    color: white;
}

#quisuisje .row p {
    margin: 25px;
}

#titre {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 36px;
    text-align: center;
}

#quisuisje .row p{
    font-family: 'Numans', sans-serif;
    font-size: 13px;
    color: #000000;
    text-align: justify;
}

.container {
    margin-top: 120px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline li .timeline-inverted {
    float: right;
}

#mecontacter {
    margin-left: 20%;
}