/*
CSS global
*/

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1060px;
    margin: 50px auto;
}

h2 {
    font-family: "Mandali", sans-serif;
    color: #6e8e9b;
}

h2::after {
    content: "";
    height: 50px;
    width: 3px;
    display: block;
    background-color: #6e8e9b;
    margin: 20px 0 20px 3px;
}

/*
classes globales
*/

.btn {
    background-color: white;
    color: black !important;
    padding: 8px 15px;
    border-radius: 50px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    border: none;
}

.btn:hover,
main #contact form input:checked + label{
    background-color: #6e8e9b;
    color: white !important;
}

/*
CSS par section
*/

footer{
    background-color: #6e8e9b;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: ;
}

header {
    background-image: url(../img/yogamat.jpg);
    padding: 20px;
    color: white;
    background-size: center;
    background-position: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 30px;
}

header div {
    text-align: center;
    margin: 100px 0 120px;
}

header h1{
    font-family: "Mandali", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 5px;
    margin: 0;
    line-height: 100%;
}

main #concept ul li{
    display: flex;
    align-items: center;
}

@media (min-width: 991px){
    main #concept ul li:nth of type(odd){
        flex-direction: row-reverse;
    }
}

main #concept ul li img{
    margin: 30px;
    width: 80px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 100%;
}

main #cours article {
    display: flex;
}

main #cours article img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 80%;
    margin-right: 50px;
}

main #contact form ul li{
    margin-bottom: 30px;
}

main #contact form ul li * {
    margin-bottom: 30px;
}

main #contact form input[type="radio"]{
    display: none;
}

main #contact form label.btn{
    margin-left: 50px;
}

main #contact form input[type="text"],
main #contact form input[type="email"]{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3) inset;
}

/*******************
    Responsive
********************/

@media (max-width:767px){
    header h1{
        font-size: 50px;
    }

    main #concept ul li{
        flex-direction: column;
        text-align: center;
    }
    main #cours article{
        align-items: flex-start;
    }
}

h1{
    font-size: 2em;
}
h1 span{
    font-size: 1em;
}