body {
    font-family: "Grandstander",
    sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: "Noto+Serif", serif;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(https://images.unsplash.com/photo-1587726625802-a161c81bf735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1296&q=60);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 200px;
}

header h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

header p {
    line-height: 160%;
}

header a {
    border: 2px solid yellow;
    color: yellow;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}

header a:hover {
    background-color: yellow;
    color: black;
    transition: all 0.3s ease;
}

#concept {
    text-align: center;
}

#concept ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

#concept ul li {
    width: 25%;
    margin-top: 30px;
}

#sauce {
    margin-top: 50px;
}

#sauce article {
    display: flex;
    align-items: center;
}

#sauce article img {
    height: 300px;
    width: 250px;
    object-fit: cover;
    margin-right: 50px;
}

footer {
    background-color: black;
    padding: 20px 0;
    margin-top: 50px;
}

footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul {
    display: flex;
    list-style: none;
}

footer nav ul li {
    margin-left: 30px;
}

footer nav ul li a{
    color: white;
    text-decoration: none;
}

/* quand on passe un element en display flex ce sont ses enfants qui se placent en display flex */