
#text p {
    font-family: Arial;
}

#text .red {
    color: red;
}

#text .green {
    color: green;
}

#text .blue {
    color: blue;
}

#fond p {
    font-family: monospace;
}

#fond .red {
    background-color: red;
}

#fond .green {
    background-color: green;
}

#fond .blue {
    background-color: blue;
}

[data-color] {
    color: attr(data-color)
}

[data-fontcolor] {
    background-color: attr(data-fontcolor)
}