body {
    font-family: Arial, Arial, Helvetica, 
    sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    text-align: center;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("/img/detox\ cure\ smoothie.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
}

header div{
    padding: 200px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    height: 60px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

#devise {
    margin-top: 30px;
    margin-bottom: 30px;
}

#devise article {
    display: flex;
    align-items: center;
}

#devise article img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-right: 50px;
    margin-left: 50px;
}

#devise article div h2{
    text-align: center;
}

#fabrication {
    background: linear-gradient(#FEB4C3, #F59E28);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#fabrication article img{
    margin-top: 50px;
}

#concept {
    text-align: center;
}

#concept ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

#concept ul li {
    width: 25%;
    margin-top: 30px;
}

footer {
    background-color: #F59E28;
    padding: 10px 0;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.conteneur-flex{
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
}
.sous-conteneur-flex{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

/*****************
    RESPONSIVE
******************/
/*ordi*/
@media screen and (min-width: 990px){
    body{
        background-color: green;
    }
}
/*tablette*/
@media (min-width: 767px) and (max-width: 990px){
    body{
        background-color: red;
    }
}
/*mobile*/
@media screen and (max-width: 767px){
    main #concept ul li{
        flex-wrap: wrap;
    }
    main #devise{
        flex-direction: column;
        text-align: center;
    }
    main #devise img{
        margin-right: 0px;
    }
}